<div class="page-header">
  <h1>Song Details<small>Music Wall... where tunes come to rest *.0</small></h1>
  <p><a class="btn btn-primary btn-lg" href="/" role="button">Home Grave</a>
  <a class="btn btn-primary btn-lg" href="/songs/new" role="button">Take a song to its grave</a></p>
</div>

<h1><%= @song.title %></h1>

<p>
  Author: <%= @song.author %>
</p>

<p>
  <h5><small>URL: <a href=<%= @song.url  %>>visit their site...leave my page... Nice!...really nice of you to do so</a></small></h5>
</p>

<hr/>
<a href="/songs">Back to All Songs</a>