<div class="jumbotron">
  <h1>Music Wall.... Where tunes come to rest *.*</h1>
  <p></p>
  <p><a class="btn btn-primary btn-lg" href="/songs" role="button">All the songs</a>
  <a class="btn btn-primary btn-lg" href="/songs/new" role="button">Take a song to its grave</a></p>
</div>


<p>
</p>
<p>
</p>
<div id="googleMap" style="width:500px;height:380px;"></div>

